
html *{

    font-family: 'Times New Roman', Times, serif !important;
}
#header {
    color: rgb(211, 203, 203);
    background-color: rgba(11, 9, 43, 0.856);
    height: 65px; 
    
}
#detail{
    background-color:rgba(11, 8, 49, 0.192);
    height: 300px;

}
#marketing{
    font-weight: bold;
    font-size: 16;
    background-color:rgba(11, 8, 49, 0.192);
    height: 600px;

}
#footer{
    background-color: rgba(20, 17, 59, 0.74);
    height: 170px;
    color: rgb(211, 203, 203);
}
a:link {
    text-decoration: none;
    color: rgb(211, 203, 203);
}

a:visited {
    text-decoration: none;
    color: rgb(211, 203, 203);
}

a:hover {
    text-decoration: underline;
    color: rgb(211, 203, 203);
}

a:active {
    text-decoration: underline;
    color: rgb(211, 203, 203);
}
#logo{
   
    
    
    height: 50px; width: 50px;
  
}
.center{
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
}
.center_txt
{
    
 
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
.d_btn{
    width: 170px;
}
.icon
{
    height: 25px;
    width: 25px;
}
.f_img
.icon
{
    height: 180px;
    width: 250px;
}
.sn_img
{
    height: 270px;
    width: 460px;
}
.wtitle {
    
    margin-top:  15px;
    font-size: 25px;
    
    float: right;
   
}
.mbtn{
    margin-top:25PX;
    padding:0;
}
.mbtn li{
    display:inline-block;
}
.carousel-indicators {
    bottom:-40px;
	left:0;
	width:100%;
	background:#ccc;
	padding: 6px 0px;
	margin-left:0;
	border-top:2px solid #fff;
}
.carousel-indicators li {
	width:12px;
	height:12px;	
	background:#fff;
	border-color:#fff;
 
}
.carousel-indicators .active {
	width:14px;
	height:14px;
	background:#428bca;
	border-color:#428bca;
}
.carousel-inner .thumbnail {
	margin-bottom:0;
	border-bottom-left-radius:0;
	border-bottom-right-radius:0;
}
.carousel-inner .caption {
	background:#ddd;
	padding: 10px;
}
