
#header {
    
    background-color: rgb(223, 208, 208);
    height: 65px; 
    
}
#detail{
    background-color: bisque;
    height: 300px;

}
#footer{
    background-color: aqua;
    height: 170px;
}
#logo{
   
    
    
    height: 50px; width: 50px;
  
}
.center{
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
}
.center_txt
{
    
 
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
.d_btn{
    width: 170px;
}
.icon
{
    height: 25px;
    width: 25px;
}
.f_img
.icon
{
    height: 180px;
    width: 250px;
}
.sn_img
{
    height: 270px;
    width: 460px;
}